<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="csrf-token" content="1aS6KHrNQuOp6lfjSJFENtRSSbBhmVaI">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% block head %}
    <!-- styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-switch.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/flat-ui-fonts.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/glyphicons.css" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% endblock head %}
    
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle Navigation</span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/img/app.png" /> Science VM</a>
      </div>
       <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">    </a></li>
            <li><a href="http://www.scivm.com/blog">Blog</a></li>
            <li><a href="https://twitter.com/scivm">Twitter</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/pricing/">Pricing</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/support">Customer Support</a></li>
                <li><a href="/forum">Forum</a></li>
                <li><a href="http://docs.scivm.com">Documentation</a></li>
              </ul>
            </li>
            <li><a href="/solutions/">Solutions</a></li>
            
            <li><a href="/accounts/signup/">Sign Up</a></li>
            <li><a href="/accounts/login/">Login</a></li>
            
          </ul>
        </div>
       </div><!-- /.container -->
    </div>

    {% block body %}{% endblock %}

    <!-- Start of footer -->
    <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-12">
              &copy; 2014 <a href="http://www.scivm.com">Science Automation</a>
              - <a href="/platform">Platform</a>
              - <a href="/company">Company</a>
              - <a href="/privacy">Privacy</a>
              - <a href="/terms">Terms</a>
            </div>
         </div>
      </div>
    </div>
    <!-- End of footer -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="//code.jquery.com/jquery.js"></script> -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-switch.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- <script src="{{ STATIC_URL }}js/offcanvas.js"></script> -->
    <script src="{{ STATIC_URL }}js/holder.js"></script>
</body>
</html>
